@charset "UTF-8";

@import "variables.scss";
@import "core.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "iconfont.scss";

$col6:#666;
$font:#3a3a3a;
$gray:#a4a3a3;
$red:#d7140d;
$org:#fc8328;
$bac:#e5e5e5;

body{
-webkit-user-select:none;
-moz-user-select:none; 
-ms-user-select:none; 
user-select:none;
background-color: white;
}

.news{
  padding-top: pxTorem(64px);
  padding-bottom: pxTorem(20px);
  @include box-sizing(border-box);
  //顶部
  .n-top{
    height: pxTorem(64px);
    line-height: pxTorem(64px);
    width: 100%;
    padding: 0 pxTorem(20px);
    position: fixed;
    top:0;left: 0;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    @include box-sizing(border-box);
    background-color: #f8f8f8;
    z-index: 10;
    span{
      font-size: pxTorem(32px);
      color: #020202;
    }
    .n-topLeft{
      float: left;
      i{
        font-size: pxTorem(26px);
        color: $font;
      }
    }
    .n-topRight{
      position: absolute;
      top:50%;
      transform: translateY(- 50%);
      right:pxTorem(20px);
      i{
        display: block;
        float: left;
        margin-left: pxTorem(6px);
        line-height: 1;
        width: pxTorem(6px);
        height: pxTorem(6px);
        background-color: $font;
        @include border-radius(50%);
      }
      i:nth-child(2){
        margin-top: - pxTorem(2px);
        width: pxTorem(10px);
        height: pxTorem(10px);
      }
    }
  }

  //消息详情
  .n-details{
    padding: 0 pxTorem(20px);
    @include box-sizing(border-box);
    .n-timer{
      font-size: pxTorem(24px);
      line-height: pxTorem(55px);
      text-align: center;
      color: #8e8d8d;
    }
    &>div{
      padding: pxTorem(20px);
      border: 1px solid $gray;
      overflow: hidden;
      @include box-sizing(border-box);
      @include border-radius(6px);
      h3{
        font-size: pxTorem(28px);
        color: #2a2a2a;
        margin-bottom: pxTorem(12px);
      }
      p{
        font-size: pxTorem(24px);
        color: #646464;
        line-height: pxTorem(40px);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;

      }
      a{
        float: right;
        color: $red;
        font-size: pxTorem(24px);
        margin-top: pxTorem(5px);
      }
    }
  }

}