@charset "UTF-8";

@import "variables.scss";
@import "normalize.scss";
@import "core.scss";
@import "mixins.scss";
@import "iconfont.scss";
@import "iconfont1.scss";

$col6:#666;
$font:#3a3a3a;
$gray:#a4a3a3;
$red:#d7140d;
$org:#fc8328;
$bac:#f8f8f8;

body{
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-color: $bac;
}

.news{
  padding: pxTorem(20px);
  //padding-bottom: pxTorem(20px);
  background-color: $bac;
  @include box-sizing(border-box);
  //顶部
  //.n-top{
  //  height: pxTorem(64px);
  //  line-height: pxTorem(64px);
  //  width: 100%;
  //  padding: 0 pxTorem(20px);
  //  position: fixed;
  //  top:0;left: 0;
  //  text-align: center;
  //  border-bottom: 1px solid #e2e2e2;
  //  @include box-sizing(border-box);
  //  background-color: #f8f8f8;
  //  z-index: 10;
  //  span{
  //    font-size: pxTorem(32px);
  //    color: #020202;
  //  }
  //  .n-topLeft{
  //    position: absolute;
  //    left: pxTorem(20px);
  //    top:0;
  //    i{
  //      font-size: pxTorem(36px);
  //      color: $font;
  //      line-height: pxTorem(64px);
  //    }
  //  }
  //  .n-topRight{
  //    position: absolute;
  //    top:50%;
  //    transform: translateY(- 50%);
  //    right:pxTorem(20px);
  //    i{
  //      display: block;
  //      float: left;
  //      margin-left: pxTorem(6px);
  //      line-height: 1;
  //      width: pxTorem(6px);
  //      height: pxTorem(6px);
  //      background-color: $font;
  //      @include border-radius(50%);
  //    }
  //    i:nth-child(2){
  //      margin-top: - pxTorem(2px);
  //      width: pxTorem(10px);
  //      height: pxTorem(10px);
  //    }
  //  }
  //}
a{
  text-decoration: none;
}
  //消息详情
  .n-details{
    //padding: 0 pxTorem(20px);
    @include box-sizing(border-box);
    margin-bottom: pxTorem(20px);
    background-color: white;
    //.n-timer{
    //  font-size: pxTorem(24px);
    //  line-height: pxTorem(55px);
    //  text-align: center;
    //  color: #8e8d8d;
    //}
    &>div{
      padding: pxTorem(20px);
      border: 1px solid #f2f2f2;
      overflow: hidden;
      @include box-sizing(border-box);
      @include border-radius(6px);
      img{
        width: 100%;
        height: pxTorem(320px);
      }
      h3{
        font-size: pxTorem(28px);
        color: #2a2a2a;
        line-height: pxTorem(50px);
        //margin-bottom: pxTorem(12px);
      }
      p{
        text-indent: 2em;
        font-size: pxTorem(24px);
        color: $gray;
        line-height: pxTorem(35px);
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: pxTorem(30px);
      }
     span{
       float: right;
       color: $font;
     }
    }
  }

}